extends layouts/default

block content
  .row.marketing
    .col-md-12
      include:marked contents/about-extensions.md

      h4: a(href="tutorial.html") Описание урока
      p В уроке рассказывается о создание расширения для Google Chrome, которое изменяет стиль портала самообучения <a href="http://moodle.kpi.ua">http://moodle.kpi.ua</a>

      h4 Тесты
      p Для проверки освоения материала были подготовлены тесты

