extends layouts/default

block content
  .row.marketing
    .col-md-12
      include:marked contents/about-extensions.md

      h4: a(href="tutorial.html") Опис уроку
      p В уроці розповідається про створення розширення для Google Chrome, яке змінює стиль порталу самонавчання <a href="http://moodle.kpi.ua"> http://moodle.kpi.ua </a>

      h4 Тести
      p Для перевірки засвоєння матеріалу були підготовлені тести

