extends layouts/default

block content
  .row.marketing
    .col-md-12
      h4 Тест
      p Этот тест содержит простые вопросы по пройденному материалу. Он поможет усвоить тему.
      br
      .panel.panel-default
        .panel-body
          dl#test
            each test, testIndex in tests
              dt(data-ans=test.correct, data-point=5)=test.question
              each question in test.answers
                dd=question
