extends layouts/default

block content
  .row.marketing
    .col-md-12
      ol
        li: a(href="tutorial-1.html") Старт проекта
        li: a(href="tutorial-2.html") Модификация стилей веб-сайта
        li: a(href="tutorial-3.html") Установка расширения
