extends layouts/default

block content
  .row.marketing
    .col-md-12
      ol
        li: a(href="tutorial-1.html") Старт проекту
        li: a(href="tutorial-2.html") Модифікація стилів веб-сайту
        li: a(href="tutorial-3.html") Встановлення розширення
